---
layout: base.njk
---

{% include "header.njk" %}

<article>
{{ content | safe }}
</article>

<aside>
{% include "notelist.njk" %}
</aside>

<footer>
<p>Created on {{ page.date | asPostDate }} - Last updated {{ modified | asPostDate }}</p>
<p>&copy;{% year %} Natalie Funk</p>
</footer>
